html {
  height: 100%;
  width: 100%;
}
body{
  background-color: linear-gradient(to bottom, #660066 0%, #ff3399 100%);
}
.border_class{
    border-style:double;
    border-color: red;
    border-width: 25px;
    }
a{
  text-shadow: red;
}
